<section class="bar bar-header bar-royal">
	<button class="button icon ion-navicon-round" menu-toggle="left"></button>
	<h1 class="title">{{"ABOUT" | translate}}</h1>
</section>
<ion-view >
	<ion-content>
		<div class="card" >
		  <div class="item item-text-wrap" id="about">
		  	<section>{{"MADE_WITH" | translate}}ionicFramework</section>
			<section >Eusèbe - 2014</section>
		  </div>
		</div>
	</ion-content>
</ion-view>