<ion-side-menus>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable" nav-title-slide-ios7">
          <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button">
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">{{"MENU" | translate}}</h1>
    </header>
    <ion-content class="has-header">
      <ion-list >
        <div id="clearScoresMenuItem" ng-click="menu.notifyClearScores()">
          <ion-item nav-clear menu-close ui-sref="app.scores" >
          {{"CLEAR_SCORES_MENU_ITEM" | translate}}
        </ion-item>
        </div>
        <ion-item nav-clear menu-close ui-sref="app.players">
        <i class="icon ion-person-stalker"></i>
          {{"PLAYERS"| translate}}
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="app.scores">
          <i class="icon ion-compose"></i>
          {{"SCORES" | translate}}
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="app.params">
          <i class="icon ion-gear-b"></i>
          {{"PARAMS" | translate}}
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="app.about">
          <i class="icon ion-steam"></i>
          {{"ABOUT" | translate}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
