<section class="bar bar-header bar-royal">
   	<button class="button icon ion-navicon-round" menu-toggle="left"></button>
	<h1 class="title">{{"PARAMS" | translate}}</h1>
</section>
<ion-view >
 	<ion-content>
 		<ul class='list'>
 			<!-- Theme -->
<!--  			<li class="item item-input item-stacked-label">
 				<span class="input-label">Thème</span>
 				<input type="color" ng-model="paramsCtrl.params.color" ng-change="paramsCtrl.validate();">
 			</li>
 -->
 			<!-- insomnia -->
 			<li class="item " ng-click="paramsCtrl.params.insomnia=!paramsCtrl.params.insomnia;paramsCtrl.insomniaChanged();">
 				<span class="input-label">{{"PREVENT_SLEEP"|translate}}</span>
	 			<label class="toggle toggle-royal">
				   <input type="checkbox"  ng-model='paramsCtrl.params.insomnia' ng-click="$event.stopPropagation()" ng-change="paramsCtrl.insomniaChanged()">
				   <div class="track">
				     <div class="handle"></div>
				   </div>
				</label>
 			</li>

 			<!-- language -->
			<div class="card">
				<label class="item item-divider">{{"LANGUAGE" | translate }}</label>
				<label class="item item-radio" ng-repeat="language in paramsCtrl.languagesAvailable" >
					<input type="radio" name="language" ng-value="language.key" ng-model="paramsCtrl.params.language" ng-change="paramsCtrl.languageChanged()">
					<div class="item-content">{{language.value}}</div>
					<i class="radio-icon ion-checkmark"></i>
				</label>
			</div>

 			<!-- fontSize -->
			<div class="card">
				<label class="item item-divider">{{"FONT_SIZE" | translate }}</label>
				<label class="item item-radio" ng-repeat="size in paramsCtrl.fontSizes" >
					<input type="radio" name="fontSize" ng-value="size.key" ng-model="paramsCtrl.params.fontSize" ng-change="paramsCtrl.fontSizeChanged()">
					<div class="item-content" style="font-size:{{size.key}}">{{size.value | translate}}</div>
					<i class="radio-icon ion-checkmark"></i>
				</label>
			</div>

 			<!-- Reset -->
 			<li class="item">
 				<span class="input-label">{{"RESET" | translate}}</span>
 				<button id="razAppli" class="button button-assertive" ng-click="paramsCtrl.clearAll();">{{"OK_BUTTON" | translate}}</button>
 			</li>
		</ul>
  	</ion-content>
</ion-view>