<section class="bar bar-header bar-royal">
   	<button class="button icon ion-navicon-round" menu-toggle="left"></button>
	<h1 class="title">{{"PLAYERS"|translate}}</h1>
</section>
<ion-view id="ionViewJoueurs">
 	<ion-content scroll-glue>
		<div ng-repeat="player in ctrl.copyOfPlayers" class="playerSettingLine">
			<button class="button button-royal ion-arrow-up-c hidden-{{$index==0 || player.name == ''}}" ng-click="ctrl.upPlayer($index)"></button>
			<button class="button button-royal ion-arrow-down-c hidden-{{!ctrl.isDownable(ctrl.copyOfPlayers, $index)}}" ng-click="ctrl.downPlayer($index)"></button>
			<input type="text" ng-model="player.name" ng-change="ctrl.addNewPlayerIfRequired()"/>
			<button class="button button-royal ion-close-round" ng-click="ctrl.removePlayer(player)"></button>
		</div>

  	</ion-content>
	<div class="bar bar-footer bar-light">
		<button class='button button-default halfWidth' ng-click="ctrl.gotoScores();" >{{"CANCEL_BUTTON" | translate}}</button>
		<button class='button button-royal halfWidth' ng-click="ctrl.showConfirm();">{{"OK_BUTTON" | translate}}</button>
	</div>
</ion-view>