<section class="bar bar-header bar-royal" id="blocNomJoueurs">
  <div id="buttonsBar" class='row'>
    <button class="button icon ion-navicon-round" menu-toggle="left"></button>
    <button class="button icon ion-refresh" ng-click="scoresCtrl.resetScores();"></button>
  </div> 
  <div id="playersNamesBar" class='row'>
    <element class="col total truncate" ng-repeat="player in scoresCtrl.players">{{player.name}}</element>
  </div>
</section>
<ion-view >
  <ion-content id="content" overflow-scroll="true" scroll-glue>
        <!-- lignes de données -->
  	<div class="row" ng-repeat="row in scoresCtrl.scores">
  		<element class="col" ng-repeat="cell in row">
	  		<input class="value round numeric" type="number" ng-model="cell.value" ng-value="{{cell.value}}" ng-change="scoresCtrl.valueChanged(cell);"></input>	
  		</element>
  	</div>
  </ion-content>
</ion-view>
<div class="bar bar-footer bar-royal row">
  <!-- totaux -->
  <element class="col total" ng-repeat='player in scoresCtrl.players'>{{player.total}}</element>
</table>
</div>
