html {
	font-size:18px;	
}

body {
	overflow: hidden; 
}
div.scroll {
	background-color: white;
}
.total{
	text-align: center;	
	font-size: 1.1rem;
	font-style: bold;
}
input[type=text] {
	text-indent: 5px;
	background-color: #ddd;
	height: 40px;
	margin: 0px 5px 0px 5px;
	font-size: 1rem;
}
input[type=number] {
	text-indent: -10px;
	background-color: #ddd;
	border: 1px solid #aaa;
	font-size: 1rem;
	border-radius:10px;
	text-align: right;
	box-sizing: border-box;
}
input[type=color]{
	display: inline-block;
}

element.total.col{
	margin-top:4px;
	margin-bottom:4px;
}

label.toggle {
	position: absolute;
	top: 14px;
	right: 16px;
}

#content {
    position: fixed;
    top:40px;
    bottom: 48px;
    left: 0;
    right: 0;
    width: 100%;
    overflow: auto;
    border: 4px ;
    background-color: #eee;
}

#buttonsBar {
	display: none;
}

.hidden-true {
	visibility: hidden;
}
.playerSettingLine {
	display: flex;
	padding: 4px 0px 0 4px;
}

button {
	display: inherit;
}

.fullWidth {
	width:100%;	
}

#ionViewJoueurs input[type=text], #blocNomJoueurs element::first-letter{
	text-transform: capitalize;
}

#ionViewJoueurs input[type=text]{
	box-sizing: border-box;
	height:40px;
	margin: 0;
	padding: 0 inherit 0 inherit;
	margin-right: 5px;
}

#ionViewJoueurs button{
	min-width:40px;
	min-height:inherit;
	height:40px;
	box-sizing: border-box;
	padding: 0;
	margin-right: 5px;
}

#ionViewJoueurs button.halfWidth {
	width: 48%;
}


div.popup-container div.popup {
	width:350px;
}

#razAppli {
	position: absolute;
	top: 8px;
	right: 16px;
}


#blocNomJoueurs{
	display:inherit;
}

#playersNamesBar{
	flex:inherit;
}

#about {
	background-image: url("../img/J.jpg");
	background-size: 60px 60px;
	background-repeat: no-repeat;
	background-position: bottom right;
	height:70px;
}

input[type=number] {
	height:inherit;
	width:inherit;
	margin: inherit;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
}

.input-label, .item, .bar .title, section{
	font-size:1rem;
}

#about section {
	padding-top:5px;
}

.card > .item a {
	text-decoration: none;
}

/*
*
*/
@media (orientation:portrait){
/*	#blocNomJoueurs{
		display:inherit;
	}

	#playersNamesBar{
		flex:inherit;
	}
	input[type=number] {
		height:inherit;
		width:inherit;
		margin: inherit;
	}*/

}

/*
*
*/
@media (orientation:landscape) and (min-width:400px) {
	#blocNomJoueurs{
		display:flex;
	}
	#buttonsBar {
		position:fixed;
		padding:0;
		display:flex;
		flex-direction: column;
		width:40px;
		justify-content:center;
		top:48px;
	}

	#buttonsBar button{
		margin-bottom:4px;
	}

	#playersNamesBar{
		flex:1;
	}

	input[type=number] {
		height:28px;
		width:70px;
		margin: 0 auto 0 auto;
	}

	div.row {
		padding:4px;
	}
	element.col{
		padding:1px;
	}


}